.page-Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.constraint {
  max-width: 540px;
  padding-bottom: 40px;
}

.grid {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: calc(var(--bs-gutter-y)* -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
  justify-content: center;
}